{% extends 'base.html.twig' %}

{% block title %}Technology index{% endblock %}

{% block body %}
	<h1>Technology index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Version</th>
				<th>DeletedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
		{% for technology in technologies %}
			<tr>
				<td>{{ technology.version }}</td>
				<td>{{ technology.deletedAt ? technology.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
				<td>
					<a href="{{ path('app_technology_show', {'version': technology.version}) }}">show</a>
					<a href="{{ path('app_technology_edit', {'version': technology.version}) }}">edit</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="3">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_technology_new') }}">Create new</a>
{% endblock %}
