{% extends 'base.html.twig' %}

{% block title %}Language index{% endblock %}

{% block body %}
	<h1>Language index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Code</th>
				<th>Level</th>
				<th>Meaning</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
		{% for language in languages %}
			<tr>
				<td>{{ language.code }}</td>
				<td>{{ language.level }}</td>
				<td>{{ language.meaning }}</td>
				<td>
					<a href="{{ path('app_language_show', {'code': language.code}) }}">show</a>
					<a href="{{ path('app_language_edit', {'code': language.code}) }}">edit</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_language_new') }}">Create new</a>
{% endblock %}
