<div id="{{ entity.code }}"{% if action == 'edit' %} data-uri="{{ path('language_edit', {'code': entity.code}) }}"{% endif %}>
	<h3 itemprop="itemListElement"{% if action == 'edit' %} data-name="language[code]"{% endif %}>{{ ('app.language.' ~ entity.code)|trans }}</h3>
	<p{% if action == 'edit' %} data-name="language[level]"{% endif %}>
		{{- entity.level -}}
	</p>
	{% if entity.meaning is not null -%}
	<p{% if action == 'edit' %} data-name="language[meaning]"{% endif %}>
		{{- entity.meaning -}}
	</p>
	{%- endif -%}
</div>