<div id="{{ entity.id }}"{% if action == 'edit' %} data-uri="{{ path('person_edit', {'id': entity.id}) }}"{% endif %}>
	<h3 class="first-column"{% if action == 'edit' %} data-name="person[fullName]"{% endif %}>{{ entity.fullName }}</h3>
	<div>
		{%~ if entity.experiences.count %}
		<p class="middle"{% if action == 'edit' %} data-uri="{{ path('experience_edit', {'id': entity.experiences[0].id}) }}"><span data-name="experience[what]"{% endif %}>
			{{- entity.experiences[0].what|raw }}
			{%- if action == 'edit' %}</span>{% endif %}, {% if action == 'edit' %}<span data-name="experience[company]">{% endif %}
			{{- entity.experiences[0].company.name -}}
			{%- if action == 'edit' %}</span>{% endif -%}
		</p>
		{%~ endif %}{#}
		<div class="place right">
			{% if entity.email is defined %}<p{% if action == 'edit' %} data-name="person[email]"{% endif %}>{{ entity.email }}</p>{% endif %}
			{% if entity.phone is defined %}<p{% if action == 'edit' %} data-name="person[phone]"{% endif %}>{{ entity.phone }}</p>{% endif %}
		</div>{#}
	</div>
</div>