<div class="h2"><span class="spacer"></span><h2>{{ 'app.skill.heading'|trans }}</h2><span class="spacer"></span></div>
<div class="container">
	<noscript class="noprint">
		{{ 'app.skill.noscript'|trans }}
	</noscript>
	<form action="#">
		<input type="search" placeholder="{{ 'app.skill.help'|trans }}" class="noprint" hidden="hidden" />
		<ul>
			{%~ apply spaceless %}
			{% for skill in entities %}
			<li{% if not skill.selectable %} title="{{ 'app.skill.not_selectable'|trans }}"{% endif %}
				{%- if loop.first %} class="noprint"{% endif %}>
				<input type="checkbox" class="noprint" id="{{ skill.name }}" value="{{ skill.name }}" checked="checked" disabled="disabled"
				{%- if skill.selectable %} data-left="{{ skill.lft }}" data-right="{{ skill.rgt }}"{% endif %} />
				<label for="{{ skill.name }}" class="p-skill{% if loop.first %} noprint{% endif %}">{{ skill.name }}</label>
			</li>
			{% endfor %}
			{% endapply ~%}
		</ul>
	</form>
</div>