<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ app.request.locale }}" xml:lang="{{ app.request.locale }}">
<head>
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20128%20128%22%3E%3Ctext%20y=%221.2em%22%20font-size=%2296%22%3E%F0%9F%91%A8%F0%9F%8F%BB%E2%80%8D%F0%9F%92%BB%3C/text%3E%3C/svg%3E" />
	<meta name="author" content="Gaël Luisier" />
	<meta name="revision" content="{{ 'now'|date('Y-m-d') }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/solid.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&amp;display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,700&amp;display=swap" rel="stylesheet" />
	{% block stylesheets -%}
	{% endblock %}
	{% block javascripts -%}
	{% endblock %}
</head>
<body class="hresume h-resume">
<!--[if IE]>
<div style="width: 100%; background-color: #e4b063; color: black; line-height: 1.2em; padding: 5px 0; text-align: center;">
{{ 'app.old_browser'|trans }}
</div>
<![endif]-->
	{% for type, flashMessages in app.session.flashbag.all() %}
		{% for flashMessage in flashMessages %}
			<div class="flash-{{ type }}">
				{{ flashMessage }}
			</div>
		{% endfor %}
	{% endfor %}
	<div class="vcard p-contact h-card" itemscope="itemscope" itemtype="http://schema.org/Person"{% if action is defined and action == 'edit' %} data-uri="{{ path('person_edit', {'id': me.id}) }}"{% endif %}>
		{% block body %}{% endblock %}
	</div>
</body>
</html>
