<div id="{{ entity.id }}" class="vevent" itemscope="itemscope" itemtype="http://schema.org/EducationalEvent"{% if action == 'edit' %} data-uri="{{ path('experience_edit', {'id': entity.id}) }}"{% endif %}>
	<p><time class="dtstart" datetime="{{ entity.startDate|date('Y-m-d') }}" itemprop="startDate"{% if action == 'edit' %} data-name="experience[startDate]"{% endif %}>
		{{- entity.startDate|date('Y') -}}
		</time> – <time class="dtend" datetime="{{ entity.endDate|date('Y-m-d') }}" itemprop="endDate"{% if action == 'edit' %} data-name="experience[endDate]"{% endif %}>
			{{- entity.endDate|date('Y') -}}
		</time></p>
	<div>
		{% if entity.role %}<h3 class="summary"{% if action == 'edit' %} data-name="experience[what]"{% endif %}>{{ entity.role }}</h3>{% endif %}
		<p itemprop="organizer" itemscope="itemscope" itemtype="http://schema.org/Organization"{% if action == 'edit' %} data-uri="{{ path('company_edit', {'id': entity.company.id}) }}"{% endif %}>
			<span itemprop="legalName"{% if action == 'edit' %} data-name="company[name]"{% endif %}>
				{{- entity.company.name -}}
			</span>
			{%- if entity.company.link %}
			<a href="{{ entity.company.link }}" title="{{ 'app.company.link.title'|trans }}" itemprop="legalName url" target="_blank"
					{%- if action == 'edit' %} data-name="company[name]"{% endif -%}
				><i class="fa-solid fa-external-link-alternate"></i>
			</a>
			{%- endif -%},
			<span class="place location" itemprop="location"{% if action == 'edit' %} data-name="company[address][city]"{% endif %}>{{ entity.company.address.city }}</span>
		</p>
	</div>
</div>