<details open="open" class="what p-achievement"{% if action == 'edit' %} data-uri="{{ path('realisation_edit', {'id': entity.id}) }}"{% endif %}>
	<summary class="summary p-summary">
		{% if entity.link %}
		<a href="{{ entity.link }}" title="{{ 'app.realisation.link.title'|trans }}"{% if action == 'edit' %} data-name="realisation[name]"{% endif %}>
		   {{- entity.name -}}
		</a>
		{% else %}
			{% if action == 'edit' %}<span data-name="realisation[name]">{% endif %}
			{{- entity.name -}}
			{% if action == 'edit' %}</span>{% endif %}
		{% endif %}
	</summary>
	{% if entity.tasks|length -%}
	<details open="open">
		<summary{% if action == 'edit' %}><span data-name="realisation[description]"{% endif %}>{{ entity.description }}
		{% if action == 'edit' %}]</span>{% endif -%}
		{%- if (entity.technologies.count) %}
			{% include 'technology/index_cv.html.twig' with {'entities': entity.technologies} %}
		{%- endif %}</summary>
		<ul>
			{% for task in entity.tasks %}
			<li{% if action == 'edit' %} data-uri="{{ path('task_edit', {'id': task.id}) }}" data-name="task[description]"{% endif %}>{{ task.description|raw }}</li>
			{% endfor %}
		</ul>
	</details>
	{% else %}
	<div>
		{%- if action == 'edit' %}<span data-name="realisation[description]">{% endif %}
		{{- entity.description -}}
		{%- if action == 'edit' %}</span>{% endif %}
		{%- if (entity.technologies.count) %}
			{% include 'technology/index_cv.html.twig' with {'entities': entity.technologies} %}
		{%- endif %}
	</div>
	{% endif %}
</details>